.about{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #111;

}
.about__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-left: 100px;
}
.about__left h2{
    margin-bottom: 50px;
    font-size: 1.1em;
    font-weight: 500;  

}
.about__left p{
    width: 70%;
    font-size: 0.8em;
}

.about__right{
    /* flex: 0.5; */
    width: 50vw;
    /* width: 100%; */
    background: url(../Images/about.jpg);
    background-position: center;
    /* background-position: right; */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}




.hero-btn {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.hero-btn .btn {
    font-size: 0.8em;
    color: #fff;
    /* background-color: #555; */
    background: #222020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
/* background-color: pink; */
    display: inline;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  /* .btn:hover {
    letter-spacing: 6px;
  } */

  @media only screen and (max-width: 1000px) {
    .about{
        min-height: 70vh;
        height: fit-content;
        

    }
    .about__left{
        margin-left: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about__left h2{
        margin-bottom: 25px;
        font-size: 1.1em;
    }
    .about__left p{
        width: 70%;
        font-size: 0.8em;
    }
    .hero-btn{
        margin-top: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .about{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top:0px ;
        height: 95vh;
    }
    .about__left{
        width: 90%;
    }
    .about__left h2{
        text-align: center;
        font-size: 00.8em;
        
    }
    .about__left p{
        text-align: justify;
        font-size: 0.7em;
        width: 100%;
    }
    .about__right{
        width: 100vw;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .hero-btn .btn{
        font-size: 0.7em;
        padding: 7px 25px;
    }
}