.contact{
    height:fit-content;
    width: 100vw;
    background-color: #18191A;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 50px;
}
.contact__left{
    padding-top: 100px;
    flex: 0.5;
    margin-left: 100px;
    color: #fff;
    text-align: center;
    height: fit-content;
    padding-bottom: 100px;

}
.contact__left h2{
    font-size: 1.1em;
    width: 70%;
    font-weight: 500;
}
.contact__left p{
    margin-top: 20px;
    font-size: 0.8em;
    text-align: justify;
    width: 80%;
}
.contact__left .contact__details{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.contact__left .contact__details p{
    text-align: center;
    margin: 0 auto;

}
.contact__left .contact__details h3{
    font-size: 1.1em;
    font-weight: 300;
}

.contact__left .contact__details p a{
    font-size: 1em;
    
}
.contact__left .contact__details a{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    
}

.contact__right{
    flex: 0.5;
    background-color: #111;
    margin: 50px;
    color: #fff;
}
.contact__right h2{
    font-size: 1.1em;
    padding-top: 50px;
    text-align: center;
    font-weight: 500;  
}


@media only screen and (max-width: 1000px) {
 .contact{
     display: flex;
     flex-direction: column;
 }   
 .contact__left{
     margin: 0 auto;
     /* background-color: pink; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     text-align: center;
 }
 .contact__left p {
    font-size: 1.25em;
    text-align: justify;
    width: 80%;
}
.contact__details h3{
    font-size: 2em;
    font-weight: 100;
}

}

@media only screen and (max-width: 500px) {
    .contact{
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact__left{
        margin-left: 20px;
        margin-right: 20px;

    }
    .contact__left h2{
        font-size: 1.1em;
    }
    .contact__left p {
        font-size: 0.8em;
        text-align: justify;
    
        width: 100%;
    }
    .contact__details{
        display: flex;
    }
    .contact__right{
        margin: 20px;
    }
    .contact__right h2{
        font-size: 1.1em;

    }
    .contact__left .contact__details h3{
        font-size: 0.9em;
        font-weight: 100;
    }
    .contact__left .contact__details p a{
        font-size: 0.8em;
    }
}
/* @media only screen and (max-width: 350px) {

    
    .contact__details a{
        font-size: 1em;
    }
} */